@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #001f3f;  /* primary color */
    --secondary-color: #0074a9;
    --accent-color: #2ecc71;
    --accent-color1: #ffd700;
    --white-color: #ffffff;
    --neutral-color: #f2f2f2;
    --cta-color: #ffa500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--primary-color);
    background: linear-gradient(to right, #0074a9, #001f3f);
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container{
    /* border-radius: 10px; */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); */
    width: 768px;
    max-width: 100%;
    overflow: hidden;
    min-height: 480px;
    position: relative;
    background-color: #fff;
}

.container p{
    margin: 20px 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.container span{
    font-size: 12px;
}

.container a{
    font-size: 13px;
    margin: 15px 0 10px;
    text-decoration: none;
    color: var(--primary-color);
}

.container button{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    top: 0;
    height: 100%;
    position: absolute;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
    transform: translateX(100%);
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    font-size: 21px;
    width: 40px;
    height: 40px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.social-icons a:hover{
    background: transparent;
    color: var(--primary-color);
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    color: var(--primary-color);
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    /* background-color: #512da8; */
    left: -100%;
    width: 200%;
    height: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    background-color: var(--primary-color);
    background: linear-gradient(to right, #001f3f, #0074a9);
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    padding: 0 30px;
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-panel a{
    color: white;
    text-decoration: underline;
    text-transform: capitalize;
    transition: all 1s ease-in-out;
}

form h1{
    color: var(--primary-color);
}

form span{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
}

form .forgot{
    text-decoration: underline;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

form .forgot:hover{
    text-decoration: none;
}

.toggle-panel a:hover{
    text-decoration: none;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}